<a href="https://colab.research.google.com/github/almeda-sj07/LinearAlgebra-58013/blob/main/ReviewofPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python indentation

In [2]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python comments

In [5]:
#This is a comment

print("Hello, world")

Hello, world

Python variable

In [9]:
x = 1
a, b = 0, -1
a, b, c =  0, -1, 2

b = "Sally" #This is a type of string

Casting

In [8]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() function

In [10]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double" quotes or 'single' quotes

In [12]:
y = "John"
y = 'John'

Case sensitive

In [13]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple variables

In [15]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One value to multiple variables

In [17]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output variables

In [16]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [20]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic operations

add = x + y; sub = x - y; mul = x * y; div = x / y; modd = x % y; exp = x ** y; fld = x // y

In [ ]:
x = 5
y = 3

print(x + y)

In [21]:
x = 5
y = 3
sum = x + y
sum

8

In [28]:
a, b, c = 0, -1, 6
c %= 3
c

0

Comparison operators

In [25]:
a, b, c = 0, -1, 6
a > b and c > b

True

Identity operators

In [26]:
a, b, c = 0, -1, 5
a is c

False

Bitwise operators

In [38]:
a, b, c = 0, -1, 5
print(c >> 1)
print(c << 1)

2
10